asgiref==3.8.1
chardet==5.2.0
charset-normalizer==3.4.1
Django==4.2.23
django-countries==7.6.1
django-static-fontawesome==6.5.2.0
gunicorn==23.0.0
packaging==24.2
pillow==10.4.0
pytz==2025.2
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
whitenoise==6.7.0
